.mother--one
{
    width: 1152px;
    height: 700px;
    background: #370617;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    padding: 20px;
   
}

.container--one
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1em;
    padding: 10px;
    width: 468px;
    height: 160px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px
}

.box--1
{
    width: 78px;
    height: 78px;
    background: #9D0208;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    
}

.container--two
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 10px;
    width: 468px;
    height: 160px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px
}

.box--2
{
    width: 78px;
    height: 120px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.container--three
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    padding: 10px;
    width: 468px;
    height: 160px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px
}

.box--3
{
    width: 78px;
    height: 78px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;  
}

.container--four
{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 1em;
    padding: 10px;
    width: 468px;
    height: 160px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px
}

.box--4-1
{
    width: 78px;
    height: 78px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;  
}

.box--4-2
{
    display: flex;
    align-self: flex-end;
    width: 78px;
    height: 78px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;  
}

.container--five
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 10px;
    width: 468px;
    height: 160px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px
}

.box--5-1
{
    width: 78px;
    height: 64px;
    background: #9D0208;
    border-radius: 4px;
    text-align: center;
}

.box--5-2
{
    width: 78px;
    height: 120px;
    background: #9D0208;
    border-radius: 4px;
    text-align: center;
}
.container--six
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 10px;
    width: 468px;
    height: 160px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px
}

.box--6-1
{
    width: 156px;
    height: 78px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.box--6-2
{
    width: 78px;
    height: 78px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}